# 4.6 Merging and exporting data

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# create path shortcut for data import
path = r'/Users/sydneyhoy/Documents/Data Immersion/Achievement 4/02-2024 Instacart Basket Analysis'

In [3]:
# import orders_products_prior dataset 
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [4]:
# import prepared orders dataset 
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [5]:
# check the output df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# check the output df_ords
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,1,1,2398795,1,prior,2,3,7,15.0
1,2,2,473747,1,prior,3,3,12,21.0
2,3,3,2254736,1,prior,4,4,7,29.0
3,4,4,431534,1,prior,5,4,15,28.0
4,5,5,3367565,1,prior,6,2,7,19.0

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords.shape

(3214874, 9)

In [9]:
# merge df_ords and df_ords_prior using order_id as key
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [10]:
# check output of df_merged_large
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,1,1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,1,1,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,1,1,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,1,1,2398795,1,prior,2,3,7,15.0,26088,5,1,both

In [11]:
df_merged_large['_merge'].value_counts()

_merge
both          30356421
left_only            0
right_only           0
Name: count, dtype: int64

In [12]:
df_merged_large.shape

(30356421, 13)

In [20]:
# export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [14]:
for col in df_ords_prior.columns.tolist():
  weird = (df_ords_prior[[col]].map(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_prior[weird]) > 0:
    print (col)

In [18]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [19]:
df_dups = df_ords_prior[df_ords_prior.duplicated()]