# 4.6 Task

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

3. Import data

In [2]:
# create path shortcut for data import
path = r'/Users/sydneyhoy/Documents/Data Immersion/Achievement 4/02-2024 Instacart Basket Analysis'

In [5]:
# import orders_products_combined dataset
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

4. check shape

In [6]:
# check shape of orders_products_combined
df_ords_prods.shape

(30356421, 11)

5. combine with products dataset

In [7]:
# import df_prods dataset 
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [11]:
# check output df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# check output df_ords_prods
df_ords_prods.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,2398795,1,prior,2,3,7,15.0,26088,5,1,both

In [12]:
df_prods.shape

(49672, 5)

In [14]:
df_ords_prods = df_ords_prods.drop(columns = ['_merge'])

In [23]:
# merge df_prods and df_ords_prods using product_id as key
df_merged = df_ords_prods.merge(df_prods, on = 'product_id', indicator = True)

In [24]:
# check output of merged dataset
df_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
1,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
2,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
3,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both
4,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both

In [25]:
df_merged.shape

(30328763, 15)

6. check merge flag

In [26]:
df_merged['_merge'].value_counts()

_merge
both          30328763
left_only            0
right_only           0
Name: count, dtype: int64

In [27]:
# check merge rate with outer merge argument
df_merged_outer = df_ords_prods.merge(df_prods, on = 'product_id', how = 'outer', indicator = True)

In [28]:
df_merged_outer['_merge'].value_counts()

_merge
both          30328763
left_only        28194
right_only          42
Name: count, dtype: int64

7. export dataframe

In [29]:
# export dataframe as pickle
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merged.pkl'))