# 4.8: Grouping Data & Aggregating Variables Task

1. Import libraries and dataframes

In [11]:
# import libraries
import pandas as pd
import numpy as np
import os

In [12]:
# create path shortcut for data import
path = r'/Users/sydneyhoy/Documents/Data Immersion/Achievement 4/02-2024 Instacart Basket Analysis'

In [13]:
# import ords_prods_merged dataset
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_derivation.pkl'))

2. Aggregate entire dataframe

In [14]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                16.559358
2                18.413176
3                18.279600
4                18.915890
5                16.497751
6                17.609390
7                18.303975
8                16.383301
9                17.022963
10               21.227447
11               17.311768
12               16.953613
13               17.727470
14               17.898097
15               17.290123
16               18.757796
17               16.808683
18               20.336389
19               18.258620
20               17.578959
21               23.644477

3. The mean for each department id has changed, the example only looked at a portion of the dataset which altered the mean. Now with all of the data being included we can see more accurate numbers.

4. create loyalty flag

In [15]:
# use transform to find max order number for each user
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/tmp/ipykernel_53391/886373369.py:2: FutureWarning: The provided callable <function amax at 0x10c9c4d60> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [16]:
# check output
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10
1,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10
2,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10
3,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10
4,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10

In [17]:
# use loc to create loyalty flag based on predefined numbers
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [18]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [19]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [20]:
# check counts for loyalty flag
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15081691
Loyal customer      10095381
New customer         5151691
Name: count, dtype: int64

In [21]:
# check output
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             2
1         1      New customer             3
2         1      New customer             4
3         1      New customer             5
4         1      New customer             6
5         1      New customer             7
6         1      New customer             8
7         1      New customer             9
8         1      New customer            10
9        15  Regular customer            15
10       15  Regular customer            17
11       15  Regular customer            18
12       15  Regular customer            21
13       15  Regular customer            22
14       19      New customer             2
15       19      New customer             5
16       19      New customer             7
17       21  Regular customer            10
18       31  Regular customer            10
19       31  Regular customer            17
20       43  Regular customer             6
21       43  Regular customer             9
22       52  Regular customer             2
23       52  Regular customer             3
24       52  Regular customer             5
25       52  Regular customer             7
26       52  Regular customer             9
27       52  Regular customer            10
28       52  Regular customer            11
29       52  Regular customer            12
30       52  Regular customer            15
31       52  Regular customer            17
32       52  Regular customer            18
33       52  Regular customer            19
34       52  Regular customer            21
35       67  Regular customer             2
36       67  Regular customer             3
37       67  Regular customer             4
38       67  Regular customer             5
39       67  Regular customer             6
40       67  Regular customer             8
41       67  Regular customer             9
42       67  Regular customer            10
43       67  Regular customer            11
44       67  Regular customer            12
45       67  Regular customer            13
46       67  Regular customer            14
47       67  Regular customer            16
48       67  Regular customer            18
49       67  Regular customer            19
50       67  Regular customer            21
51       67  Regular customer            22
52       67  Regular customer            23
53       81      New customer             3
54       81      New customer             5
55       82  Regular customer             3
56       82  Regular customer             4
57       82  Regular customer             6
58       82  Regular customer             9
59       82  Regular customer            10

5. check basic spending habits of customers

In [22]:
ords_prods_merge.groupby('loyalty_flag'). agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.402162  1.0  99999.0
New customer      13.396333  1.0  99999.0
Regular customer  12.546842  1.0  99999.0

6. create a spending flag based on spending habits

In [23]:
# use transorm to find average price of products purchased by each user
ords_prods_merge['avg_order'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/tmp/ipykernel_53391/4052544860.py:2: FutureWarning: The provided callable <function mean at 0x10c9c5a80> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_order'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [24]:
# create spending falg for each user using predefined terms
ords_prods_merge.loc[ords_prods_merge['avg_order'] < 10, 'spending_flag'] = 'Low spender'

In [25]:
ords_prods_merge.loc[ords_prods_merge['avg_order'] >= 10, 'spending_flag'] = 'High spender'

In [26]:
# check counts for spending flag
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     29730505
High spender      598258
Name: count, dtype: int64

In [27]:
# check output
ords_prods_merge[['user_id', 'avg_order', 'spending_flag']].head(60)

    user_id  avg_order spending_flag
0         1   6.372222   Low spender
1         1   6.372222   Low spender
2         1   6.372222   Low spender
3         1   6.372222   Low spender
4         1   6.372222   Low spender
5         1   6.372222   Low spender
6         1   6.372222   Low spender
7         1   6.372222   Low spender
8         1   6.372222   Low spender
9        15   3.994118   Low spender
10       15   3.994118   Low spender
11       15   3.994118   Low spender
12       15   3.994118   Low spender
13       15   3.994118   Low spender
14       19   8.464535   Low spender
15       19   8.464535   Low spender
16       19   8.464535   Low spender
17       21   6.987500   Low spender
18       31   8.203147   Low spender
19       31   8.203147   Low spender
20       43   7.323944   Low spender
21       43   7.323944   Low spender
22       52   6.330435   Low spender
23       52   6.330435   Low spender
24       52   6.330435   Low spender
25       52   6.330435   Low spender
26       52   6.330435   Low spender
27       52   6.330435   Low spender
28       52   6.330435   Low spender
29       52   6.330435   Low spender
30       52   6.330435   Low spender
31       52   6.330435   Low spender
32       52   6.330435   Low spender
33       52   6.330435   Low spender
34       52   6.330435   Low spender
35       67   7.635065   Low spender
36       67   7.635065   Low spender
37       67   7.635065   Low spender
38       67   7.635065   Low spender
39       67   7.635065   Low spender
40       67   7.635065   Low spender
41       67   7.635065   Low spender
42       67   7.635065   Low spender
43       67   7.635065   Low spender
44       67   7.635065   Low spender
45       67   7.635065   Low spender
46       67   7.635065   Low spender
47       67   7.635065   Low spender
48       67   7.635065   Low spender
49       67   7.635065   Low spender
50       67   7.635065   Low spender
51       67   7.635065   Low spender
52       67   7.635065   Low spender
53       81   7.800000   Low spender
54       81   7.800000   Low spender
55       82   6.270492   Low spender
56       82   6.270492   Low spender
57       82   6.270492   Low spender
58       82   6.270492   Low spender
59       82   6.270492   Low spender

7. determine frequent versus non-frequent customers

In [28]:
# find median of each users days since prior order using groupby
ords_prods_merge['median_order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/tmp/ipykernel_53391/3701748653.py:2: FutureWarning: The provided callable <function median at 0x10cadb420> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [29]:
ords_prods_merge[['user_id', 'days_since_prior_order', 'median_order_frequency']].head(20)

    user_id  days_since_prior_order  median_order_frequency
0         1                    15.0                    20.5
1         1                    21.0                    20.5
2         1                    29.0                    20.5
3         1                    28.0                    20.5
4         1                    19.0                    20.5
5         1                    20.0                    20.5
6         1                    14.0                    20.5
7         1                     0.0                    20.5
8         1                    30.0                    20.5
9        15                     7.0                    10.0
10       15                     8.0                    10.0
11       15                     7.0                    10.0
12       15                     7.0                    10.0
13       15                    14.0                    10.0
14       19                     6.0                     6.0
15       19                     8.0                     6.0
16       19                     6.0                     6.0
17       21                     6.0                     7.5
18       31                     7.0                     6.0
19       31                     8.0                     6.0

In [30]:
# use loc to create frequency flag based on predefined numbers
ords_prods_merge.loc[ords_prods_merge['median_order_frequency'] > 20, 'order_frequency'] = 'Non-frequent customer'

In [31]:
ords_prods_merge.loc[(ords_prods_merge['median_order_frequency'] <= 20) & (ords_prods_merge['median_order_frequency'] > 10), 'order_frequency'] = 'Regular customer'

In [32]:
ords_prods_merge.loc[ords_prods_merge['median_order_frequency'] <= 10, 'order_frequency'] = 'Frequent customer'

In [33]:
# check counts of ew order frequency flag
ords_prods_merge['order_frequency'].value_counts(dropna = False)

order_frequency
Frequent customer        20675290
Regular customer          6594542
Non-frequent customer     3058931
Name: count, dtype: int64

In [34]:
# check output
ords_prods_merge.head(20)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order,spending_flag,median_order_frequency,order_frequency
0,2398795,1,prior,2,3,7,15.0,196,1,1,...,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.372222,Low spender,20.5,Non-frequent customer
1,473747,1,prior,3,3,12,21.0,196,1,1,...,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.372222,Low spender,20.5,Non-frequent customer
2,2254736,1,prior,4,4,7,29.0,196,1,1,...,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.372222,Low spender,20.5,Non-frequent customer
3,431534,1,prior,5,4,15,28.0,196,1,1,...,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.372222,Low spender,20.5,Non-frequent customer
4,3367565,1,prior,6,2,7,19.0,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.372222,Low spender,20.5,Non-frequent customer
5,550135,1,prior,7,1,9,20.0,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.372222,Low spender,20.5,Non-frequent customer
6,3108588,1,prior,8,1,14,14.0,196,2,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.372222,Low spender,20.5,Non-frequent customer
7,2295261,1,prior,9,1,16,0.0,196,4,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.372222,Low spender,20.5,Non-frequent customer
8,2550362,1,prior,10,4,8,30.0,196,1,1,...,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.372222,Low spender,20.5,Non-frequent customer
9,2968173,15,prior,15,1,9,7.0,196,2,0,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.994118,Low spender,10.0,Frequent customer
10,1870022,15,prior,17,2,16,8.0,196,6,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.994118,Low spender,10.0,Frequent customer
11,1911383,15,prior,18,2,11,7.0,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.994118,Low spender,10.0,Frequent customer
12,2715276,15,prior,21,1,9,7.0,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.994118,Low spender,10.0,Frequent customer
13,487368,15,prior,22,1,10,14.0,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.994118,Low spender,10.0,Frequent customer
14,2293453,19,prior,2,5,14,6.0,196,3,0,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.464535,Low spender,6.0,Frequent customer
15,1973799,19,prior,5,6,12,8.0,196,15,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.464535,Low spender,6.0,Frequent customer
16,532817,19,prior,7,4,17,6.0,196,1,1,...,Mid-range product,Least busy,Least busy days,Average orders,9,New customer,8.464535,Low spender,6.0,Frequent customer
17,1573906,21,prior,10,3,10,6.0,196,2,0,...,Mid-range product,Regularly busy,Least busy days,Most orders,33,Regular customer,6.987500,Low spender,7.5,Frequent customer
18,1593000,31,prior,10,3,8,7.0,196,17,0,...,Mid-range product,Regularly busy,Least busy days,Average orders,20,Regular customer,8.203147,Low spender,6.0,Frequent customer
19,2231262,31,prior,17,3,11,8.0,196,14,1,...,Mid-range product,Regularly busy,Least busy days,Most orders,20,Regular customer,8.203147,Low spender,6.0,Frequent customer

In [35]:
# export data to pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_grouped.pkl'))